[Unit]
Description=*description
After=network.target

[Service]
ExecStart=*command
WorkingDirectory=*command directory
Restart=always
User=*user

[Install]
WantedBy=multi-user.target
